<ion-view title="பயிற்சி 1" id="page13" style="background-color:#5F5CD5;">
  <ion-content padding="true" style="background: url(img/ZqDclamjTxaKXvmqAkYV_original.gif) no-repeat center;background-size:cover;" class="has-header">
    <h5 id="1-heading7" style="color:#ECC8C8;font-weight:600;">கொடுக்கப்படும் சினைப்பெயர்களுக்கு ஏற்ற வாக்கியம் அமைத்திடுக</h5>
    <div id="1-markdown9" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#1BDAEB;">வேர் : </p>
        </li>
        <li>
          <p style="color:#1BDAEB;">மூக்கு : </p>
        </li>
        <li>
          <p style="color:#1BDAEB;">முள் : </p>
        </li>
        <li>
          <p style="color:#1BDAEB;">அலகு : </p>
        </li>
        <li>
          <p style="color:#1BDAEB;">நகம் : </p>
        </li>
        <li>
          <p style="color:#1BDAEB;">பல் : </p>
        </li>
        <li>
          <p style="color:#1BDAEB;">இலை : </p>
        </li>
      </ol>
    </div>
    <a ui-sref="page14()" id="1-button16" class="button button-balanced button-block">விடைகளைச் சரி பார் ! </a>
  </ion-content>
</ion-view>