<ion-view title="பயிற்சி 1" id="page16">
  <ion-content padding="true" style="background: url(img/V67dtbQ6T0a8Gp5D9wee_depositphotos_67314121-stock-illustration-abstract-rainbow-colored-star-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="12-markdown11" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">வேர் : மரத்தின் வேர் உறுதியாக இருக்கும். </p>
        </li>
        <li>
          <p style="color:#000000;">மூக்கு : ராதாவின் மூக்கு கூர்மையாக இருக்கும். </p>
        </li>
        <li>
          <p style="color:#000000;">முள் : ரோஜா செடியின் முள் தம்பியின் காலில் குத்தியது.</p>
        </li>
        <li>
          <p style="color:#000000;">அலகு : கிளியின் அழகு கூர்மையாகவும் அழகாகவும் இருக்கும். </p>
        </li>
        <li>
          <p style="color:#000000;">நகம்: சுதனின் நகம் மிகவும் அசுத்தமாக இருந்தது. </p>
        </li>
        <li>
          <p style="color:#000000;">பல் : ராமுவிற்குப் பல் வலி ஏற்பட்டது. </p>
        </li>
        <li>
          <p style="color:#000000;">இலை : தோட்டத்தில் நிறைய காய்ந்த இலைகள் இருந்தன.</p>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>