<ion-view title="பயிற்சி 2" id="page8" style="background-color:#12F237;">
  <ion-content padding="true" style="background: url(img/esu714bdQiZQhFEEjCvA_original.gif) no-repeat center;background-size:cover;" class="has-header">
    <h5 id="2-heading6" style="color:#E71CC7;">கொடுக்கப்பட்டுள்ள சினைப்பெயர் சொற்களுக்கு ஏற்ற வாக்கியம் அமைத்திடுக. </h5>
    <div id="2-markdown10" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#F0E213;">பூ: </p>
        </li>
        <li>
          <p style="color:#F0E213;">இலை : </p>
        </li>
        <li>
          <p style="color:#F0E213;">அலகு : </p>
        </li>
        <li>
          <p style="color:#F0E213;">கண் :</p>
        </li>
        <li>
          <p style="color:#F0E213;">வேர் : </p>
        </li>
      </ol>
    </div>
    <a ui-sref="page14()" id="2-button17" class="button button-assertive button-block">விடைகளைச் சரி பார் !</a>
  </ion-content>
</ion-view>