<ion-view title="பயிற்சி 2 " id="page17">
  <ion-content padding="true" style="background: url(img/rEtMqUqbQf6vHeA2Ijkw_depositphotos_67314121-stock-illustration-abstract-rainbow-colored-star-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="22-markdown13" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">பூ: அம்மா தோட்டத்தில் ரோஜா பூவைப் பறித்தார். </p>
        </li>
        <li>
          <p style="color:#000000;">இலை : தம்பி தோட்டத்தில் உள்ள காய்ந்த இலைகளைப் பெறுக்கினான். </p>
        </li>
        <li>
          <p style="color:#000000;">அலகு : கிளியின் அலகு கூர்மையாக இருக்கும். </p>
        </li>
        <li>
          <p style="color:#000000;">கண் : மாலாவிற்குக் கண் வலி ஏற்பட்டதால் பள்ளிக்கு வரவில்லை. </p>
        </li>
        <li>
          <p style="color:#000000;">வேர் : காட்டில் உள்ள மரங்களின் வேர் உறுதியானது. </p>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>