<ion-view title="பயிற்சி 3" id="page9">
  <ion-content padding="true" style="background: url(img/jaY74lN2Sge8fEyDof6u_original.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="page4()">
        <img src="img/vuzZWuOMQeiUPlHfmvuB_Capture13.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a ui-sref="page14()" id="3-button18" class="button button-royal button-block">விடைகளைச் சரி பார் !</a>
  </ion-content>
</ion-view>