<ion-view title="பயிற்சி 3 " id="page11">
  <ion-content padding="true" style="background: url(img/VnerSh1JQMSHUw7E9jWT_depositphotos_67314121-stock-illustration-abstract-rainbow-colored-star-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="32-markdown15" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">இலைகளை </p>
        </li>
        <li>
          <p style="color:#000000;">அலகு </p>
        </li>
        <li>
          <p style="color:#000000;">கால் / கை </p>
        </li>
        <li>
          <p style="color:#000000;">பூவை </p>
        </li>
        <li>
          <p style="color:#000000;">விரலில் </p>
        </li>
        <li>
          <p style="color:#000000;">கால்கள் </p>
        </li>
        <li>
          <p style="color:#000000;">கிளைகளை </p>
        </li>
        <li>
          <p style="color:#000000;">கதவை </p>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>