<ion-view title="பனுவல்" id="page3" style="background-color:#DFD0D9;">
  <ion-content padding="true" style="background: url(img/q9uzLEGURfCKHXcX59zy_152294-131-DC3E25DB.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page1()" id="page3-button3" class="button button-positive button-block icon ion-android-favorite">பனுவலை வாசித்துப் புரிந்து கொள் ! </a>
    <div id="page3-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#0E0202;">ஒட்டகம் </p>

      <p style="color:#0E0202;">ஒட்டகம் பாலை வனத்தில் வசிக்கும். ஒட்டகத்தின் கண்ணிமைகள் பாலைவன மணல் கண்ணுக்குள் நுழையாமல் தடுக்கின்றன. மேலும், ஒட்டகத்தின் கால்கள் மணலில் எளிதாக நடக்க உதவுகின்றன. அதுமட்டும் இல்லாமல், தடித்த உதடுகளும் தட்டையான பற்களும் முள் நிறைந்த கள்ளிச் செடியைக்
        கடிக்கப் பயன்படுகின்றன. அடுத்து, ஒட்டகத்திற்குச் சாக்குப் பை போன்ற தோல் இருப்பதால் குளிரைத் தாங்கிக் கொள்ளும். தவிர, ஒட்டகத்திற்குத் தண்ணீரைச் சேமித்து வைக்கத் திமில் உள்ளது. </p>
    </div>
  </ion-content>
</ion-view>