<ion-view title="விளக்கம் " id="page2" style="background-color:#9F77C2;">
  <ion-content padding="true" style="background: url(img/04klDoSwR0esHBVQbPj7_cartoon-2716788_960_720.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h2 id="page2-heading4" style="color:#F0E94B;text-align:center;">சினைப்பெயர் என்றால் என்ன?</h2>
    <a ui-sref="page1()" id="page2-button1" style="font-weight:600;color:#16ECE2;" class="button button-assertive button-block icon ion-android-favorite">விளக்கம் </a>
    <div id="page2-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#0D0E0D;">ஒரு பொருளின் பகுதிகளை அல்லது உறுப்புகளைக் குறிப்பது</p>
    </div>
    <button id="page2-button2" class="button button-positive button-block">உதாரணம் </button>
    <div>
      <img src="img/2PguF0GQCu98GVOLRUog_Slide3.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>