<ion-view title="காணொலி" id="page10" style="background-color:#F0461B;">
  <ion-content padding="true" style="background: url(img/14LJpK1Rxauy5tOaep9u_XVhh.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="page10-button11" class="button button-positive button-block">காணொலியில் வரும் பாடலைப் பாடி மகிழ்க..</button>
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/2Ra-MOKP7TY?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page10-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>