<ion-view title="விடைகள் " id="page14">
  <ion-content padding="true" style="background: url(img/Uot0BWTfKOqczDOevg2G_abstract-bokeh-abstract-light-effects-backgrounds-powerpoint.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="12()" id="page14-button12" class="button button-positive button-block">பயிற்சி 1 </a>
    <a ui-sref="22()" id="page14-button14" class="button button-assertive button-block">பயிற்சி 2 </a>
    <a ui-sref="32()" id="page14-button15" class="button button-energized button-block">பயிற்சி 3 </a>
    <div id="page14-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#3A18EE;">வாழ்த்துகள் மாணவர்களே ! </p>

      <p style="color:#3A18EE;">விடைகளைத் தெரிந்து கொள்க. </p>

      <p style="color:#3A18EE;">முயற்சியைக் கைவிடாதீர்கள் ! </p>

      <p style="color:#3A18EE;">வெற்றி நிச்சயம் ! </p>
    </div>
  </ion-content>
</ion-view>