<ion-view title="மதிப்பீடு" id="page4" style="background-color:#DD5480;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="1()" id="page4-button5" style="color:#242C2A;" class="button button-balanced button-block">முதல் நிலை மாணவர்கள் </a>
    <a ui-sref="2()" id="page4-button6" class="button button-assertive button-block">இடை நிலை மாணவர்கள் </a>
    <a ui-sref="3()" id="page4-button7" class="button button-energized button-block">கடை நிலை மாணவர்கள்</a>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/RTQSGU22SPmDnPO3svgN_shared-reading.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>