<ion-view title="" id="page12">
  <ion-content padding="true" style="background: url(img/TGhqUaCWTzlDXFdj22G0_giphy.gif) no-repeat center;background-size:cover;" class="has-header">
    <div id="page12-markdown17" class="show-list-numbers-and-dots"></div>
    <button id="page12-button20" class="button button-assertive button-block">மிக்க நன்றி மாணவர்களே !!</button>
    <div>
      <a style="display:block;" ui-sref="page1()">
        <img src="img/BTxeUhoeScChG8t5V6rA_tenor.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>