<ion-view title="சினைப்பெயர் " id="page1" style="background-color:#EC39EC;">
  <ion-content padding="true" style="background: url(img/nnOs04vOQ3qo0cnBIx49_XVhh.gif) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="page1-heading3" style="color:#86FF14;text-align:center;">சினைப்பெயர் அறிவோம் வாரீர்</h3>
    <div>
      <img src="img/EFoznuQbRimpgIg7SjYA_Slide1.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page2()" id="page1-button8" class="button button-positive button-block">விளக்கம் </a>
    <a ui-sref="page3()" id="page1-button9" class="button button-energized button-block">பனுவல் </a>
    <a ui-sref="page4()" id="page1-button10" class="button button-balanced button-block">பயிற்சி </a>
    <a ui-sref="page10()" id="page1-button13" class="button button-positive button-block">காணொலி</a>
  </ion-content>
</ion-view>